@import url(rodape.css);
@import url(header.css);

body {
    background-color: rgb(12, 79, 16);
    color: white;
}

.img-fluid {
    height: 100px;
    width: 100%;
}


.sessao__carrosel {
    margin-top: 5em;
}

.container__carrosel-mobile {
    border: solid 7px white;
    border-radius: 7px;

    width: 90%;
    margin: 2em 1.3em;
}

.destaques__mobile {
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}

.destaques__lista-item {
    text-align: center;
    padding: 1em;
}

.img_destaques {
    height: 10em;
    width: 10em;
    border-radius: 10px;
}

.banner {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.img_banner {
    border: solid 5px white;
    border-radius: 7px;
    width: 95%;
}

.lista__destaque-768px {
    display: none;
}

.container__carrosel-786px {
    display: none;
}

@media screen and (min-width:550px) {
    .img_destaques {
        height: 15em;
        width: 15em;
        border-radius: 10px;
    }    
}

@media screen and (min-width:768px) {
    body {
        width: 100%;
    }

    .destaques__mobile,
    .container__carrosel-mobile {
        display: none;
    }

    .container__carrosel-786px {
        display: block;
        margin-bottom: 2em;
    }

    .container__flex-carrosel {
        display: flex;
        justify-content: center;
    }

    .carrosel-786px {
        border: 6px solid white;
        border-radius: 6px;
        width: 90%;
    }

    .lista__destaque-768px {
        display: flex;
        justify-content: center;
        padding: 0 0 0 0;
        transition: 1s;
    }

    .item_lista-768px {
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: center;
        text-align: center;
        padding: 0 1em;
    }

    .img_lista-768px {
        border: 6px white solid;
        border-radius: 8px;
        height: 18vw;
        width: 18vw;
    }
}